configuration 
{display-drun: "";
 display-window: "";
 display-emoji: "";
 drun-display-format: "{icon} {name}";
 font: "JetBrains Mono 16";
 modi: "drun";
 show-icons: true;
 icon-theme: "Papirus";
 border-radius: 8px 0px 0px 8px;}

@theme "themes/gnome.rasi"
