configuration {
 display-drun: "Run";
 display-window: "Windows";
 drun-display-format: "{icon} {name}";
 font: "Terminus 18";
 modi: "drun,window,combi";
 show-icons: true;
 icon-theme: "Papirus";
 }

@theme "~/.local/share/rofi/themes/sidebar.rasi"
